<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LetsGoooo</title>
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Hello from a Template!</h1>
        <p class="lead">This is a simple example using Bootstrap with a Go web server.</p>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
